// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to 100%prefixer: https://github.com/ai/100%prefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

body
	font-family 'Open Sans', sans-serif

h1
	padding-top 40px
	
h1, h2, h3, h4, h5, h6
	font-family 'Bree Serif', serif
	font-weight 400

a
	color #1ABC9C

a:hover
	color #404040
	
.immagine
	background-color transparent
	display block

.immagine p 
	padding 50px 20px 0px
	text-align left
	width 100%
	margin-left 0

.immagine p.resize-75, .immagine p.resize-50, .immagine p.resize-90, .immagine p.resize-60, .immagine p.resize-40, .immagine p.resize-35, .immagine p.resize-25, .immagine p.resize-15
	margin 0px
	float right

.immagine h1, .immagine h2
	text-shadow 1px 1px rgba(215, 215, 215, 0.8)

.light, .light h3
	color #FFF

.light p 
	background-color: rgba(30, 0, 12, 0.8);
	
.dark h1
	color #000
	
.dark p
	background-color: rgba(215, 215, 215, 0.8);

code[class*="language-"], pre[class*="language-"]
	line-height 1
	width 100%

.resize-15, p.resize-15
	width 15%
		
.resize-25, p.resize-25
	width 25%

.resize-35, p.resize-35
	width 35%
	
.resize-40, p.resize-40
	width 40%
	
.resize-50, p.resize-50
	width 50%
	
.resize-60, p.resize-50
	width 50%
	
.resize-75, p.resize-75
	width 75%

.resize-90, p.resize-75
	width 75%

.inline-element
	display inline-block
	
.inherit
	display inherit

.quote
	font-size 16px
	font-style italic
	
.cta
	padding 10px 40px
	color #1ABC9C
	background-color transparent
	border 2px solid #1ABC9C
	border-radius 6px
	text-transform: uppercase;
	font-size: 16px;

.cta:hover
	background-color #1ABC9C
	color #FFF
	
.img-cta
	opacity 1

.img-cta:hover
	opacity .8
	background radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.2), rgba(255,255,255,0))
	border-radius 8px
	
// Immagini delle slide

.backdrop-1 {
    background transparent url('../images/sfondo.png') no-repeat
    background-size cover
}
